<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link  href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href='/static/main.css' />
    
    <title>Stadium Seat Booking</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg bg-light">
        
        <div class="book_title"><h1>STADIUM SEAT BOOKING</h1>
        </div>
            
    </nav>
        <br>
        <br>
        <br>

    <form method="POST" action="" >
        <div class="book_form">
                <label for="email" class="form-label">Email address</label> 
                    <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> 
                    aria-describedby="emailHelp" -->
                
                <input type="email" class="form-control" id="email" name="email" >
        </div> 
        
        <br>
        <div class="book_form">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname">
        </div>
        <br>
        <div class="book_form">
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname">
        </div>
        <br>
       
        <div class="seat-level"></div>
            <label>Pick a seat-type:</label>
            <select  name="seattype" id="seat-level">
            <option value="Platinum">Platinum</option>
            <option value="VIP">VIP</option>
            <!-- <option value="3">Premenium</option>  -->
            <option value="General">General</option>
        </select> 
        

        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        <!-- <input type="submit" class="btn btn-primary" onclick="window.location.href='http://127.0.0.1:5000/SelectSeat';"> value=" click to Select Seat"  -->
        <br>
        <br>
        <br>

        <input type="submit" onclick="window.location.href='http://127.0.0.1:5000/SelectSeat';" value=" click to Select Seat" />
    </form>
</body>