<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link  href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
        <link rel="stylesheet" href='/static/style.css' />
        
        <title>Stadium Seat Booking</title>
    </head>

    <body>
        <nav class="navbar background">
            <ul class="nav-list ">
                <div class="logo"><img src="/static/img/Logo.png" alt="logo"></div>
                <li> <a href="#home"> Home</a></li>
                <li> <a href="/contact"> Contact Us</a></li>
                <li> <a href="/login"> Login</a></li>
                <li> <a href="/booking"> Booking</a></li>
            </ul>
            <div class="righNav">
                <input type="text" name="search" id="search">
                <button class="btn btn-sm">Search</button>
            </div>
        </nav>

        <section class="background firstSection">

            <div class="box-main">

                <div class="firstHalf">

                    <p class="text-big">Excited to Watch!!!     
                        <p> The Game is Here...
                    </p>
                            </p>
                            <p> Book your seat to cheers your team</p>
                    <p class="text-small">“ The only one who can tell you 'you can't win' is you and
                        you don't have to listen.”</p>

                    <!-- <div class="buttons">

                        <button class="btn">Subscribe</button>

                        <button class="btn">Watch Videok/button>



                    </div> -->

                </div>



                <div class="secondHalf">
                    
                    <img src="/static/img/ball.png" alt="Ball Image">

                </div>

            </div>

        </section>

        <!-- <hr>
        <section class="Booking"
            

            <body>
                <main>
                <label>Name:</label>
                <input type="text" id="name-input">
                <button>Add Name</button>
                </main>
                I
            

            </body>
        </section> -->
    

    </body>

</html>